In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
# çıktının tek bir satırda olmasını sağlar.
df = pd.read_csv("country_vaccination_stats.csv")

In [3]:
df.head(10)

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V
5  Argentina    1/3/2021              7400.0  Sputnik V
6  Argentina    1/4/2021              6483.0  Sputnik V
7  Argentina    1/5/2021              7984.0  Sputnik V
8  Argentina    1/6/2021              8173.0  Sputnik V
9  Argentina    1/7/2021              8363.0  Sputnik V

In [7]:
med = float(df["daily_vaccinations"].median())
df.isnull().sum()

country                 0
date                  650
daily_vaccinations    689
vaccines              650
dtype: int64

In [8]:
for i in range(len(df)):
    if len(df.iloc[i,0]) > 30:
        av = df.iloc[i,0].split(",")
        df.iloc[i,0] = av[0]
        df.iloc[i,1] = av[1]
        if av[2] == "":
            df.iloc[i, 2] = None
        else:
            df.iloc[i, 2] = float(av[2])
        df.iloc[i,3] = av[3].split(",")[0]

In [9]:
df.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

# SORU 1

In [16]:
zerodf_ = df["daily_vaccinations"].fillna(0)

# SORU 2

In [20]:
meddf_ =  df["daily_vaccinations"].fillna(med)
al = dfmedd[["country","daily_vaccinations"]].groupby("country").agg({"median"}).reset_index()
al.columns = ['country', 'median']
al.sort_values("median", ascending=False).head(3)

          country    median
58  United States  378253.0
8           China  276786.0
24          India  173922.0

# SORU 3

In [18]:
dfmedd.loc[df["date"]=="1/6/2021",["daily_vaccinations"]].sum()

daily_vaccinations    1477470.0
dtype: float64

# SORU 4

In [ ]:
dfzero = df.copy()
dfzero["daily_vaccinations"] = zerodf_

dfmedd = df.copy()
dfmedd["daily_vaccinations"] = meddf_